body{
    background-color: rgb(233, 182, 208);
}
.flex-container{
    display:flex;
    justify-content: space-around;
    background-color: rgb(173, 84, 142);
    height:60px;
    align-items: center;
}
.flex-container2{
    display:flex;
    justify-content:space-around;
    margin:50px;
}
.flex-container3{
    display:flex;
    justify-content:space-around;
}
.flex-container4{
     display:flex;
    justify-content:space-around;
}
